<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>探店</string>
		<key>className</key>
		<string>WUExploreViewController</string>
		<key>iconName</key>
		<string>recommendation</string>
		<key>storyBoard</key>
		<string>Explore</string>
	</dict>
	<dict>
		<key>title</key>
		<string>体验</string>
		<key>className</key>
		<string>WUExperienceViewController</string>
		<key>iconName</key>
		<string>broadwood</string>
		<key>storyBoard</key>
		<string>Experience</string>
	</dict>
	<dict>
		<key>title</key>
		<string>分类</string>
		<key>className</key>
		<string>WUClassifyViewController</string>
		<key>iconName</key>
		<string>classification</string>
		<key>storyBoard</key>
		<string>Classify</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的</string>
		<key>className</key>
		<string>WUMyViewController</string>
		<key>iconName</key>
		<string>my</string>
		<key>storyBoard</key>
		<string>My</string>
	</dict>
</array>
</plist>
